
*{
  font-family: sans-serif;
}
.container {
  border:5px solid orange;
  width:100%;
  height: 100vh;
  max-width: 960px ;
  display: flex;
  flex-wrap: wrap;
  margin:auto;
  
}
  
 


.container .divstyle {
  display:flex;
  align-items: flex-end;
  background-color: hotpink;  
  margin:0px;
  padding: 10px;
  border:1px solid black;
  width: calc(100% / 16);
  height: calc(100% / 16); 
  box-sizing: border-box;
  
  
}

.container .divstyle:hover {
  background-color: gray;
}

.btn {
  font-size: 20px;
  background-color: grey;
  color:white;
  border-radius: 20px;
 
 
}

.btn-container {
  text-align: center;
  margin:20px;

}






